.content {
  position: relative;
  z-index: 10;
  color: white;        
  text-align: center;   
  display: flex;     
  justify-content: center;
  align-items: center;
  height: 100vh;        
  padding: 0 20px;
}

.content h2 {
  color: white;        
  text-align: center;  
}
