body {
  background: black;
  color: white;
  font-family: monospace;
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#road {
  position: relative;
  width: 100%;
  height: 150px;
  background: #111;
  border: 1px solid white;
  margin: 20px 0;
  overflow: hidden;
}

#car {
  position: absolute;
  bottom: 20px;           
  left: 50%;           
  transform: translateX(-50%);
  width: 120px;           
  height: 100px;           
  transition: left 0.1s; 
}

p {
  color:  #990000;
}

h1.entry-title {
  color:  #990000;
}

body {
  background: #050505;      
 
  font-family: "Inter", monospace; 
  padding: 50px 20px;
  text-align: center;
}

header, footer {
  text-align: center;
  margin-bottom: 30px;
}

h1.entry-title {
  color: #990000 !important;  
}


.entry-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.hero img {
  display: block;
  width: 480px;
  max-width: 100%;
  height: auto;
  margin: 40px auto;
  position: relative;
  transition: transform 0.3s ease;
}

.hero img:hover {
  transform: scale(1.03);
}
.content {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1rem;  
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
}
a {
  color: #4db4ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

