body {
    background-color: rgb(255, 255, 255);




    color:rgb(0, 0, 0)

}



h1 {
  text-align: center;
  margin-top: 20px;
  color:rgb(100, 133, 193)
}



body {

  font-family: "swiss-721-bt-rounded", sans-serif;
font-weight: 700;
font-style: normal;

}

ul {
   list-style: none; 
 padding: 0;
   margin: 20px 0;
  display: flex;
     justify-content: center;

  gap: 400px;
}

ul li {
   margin: 0;
}

ul 
li 
 a {
   text-decoration: none;
   font-size: 1.2rem;
    color: #6f8cc6;
}
