body {
  margin: 0;
  background: black;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dash {
  display: flex;
  gap: 40px;
}

.screen {
  width: 380px;
  padding: 25px;
  border: 2px solid white;
  background: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 14px;
  opacity: 0.6;
}

.value {
  font-size: 28px;
}

.big {
  font-size: 70px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 48%;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry {
  display: block;
  width: 180px;
  padding: 15px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 18px;
  transition: 0.2s;
}

