body {
  margin: 0;
}
#rpmGauge {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 30px auto;
}
#rpmGauge img {
  width: 100%;
  height: 100%;
  display: block;
}
#needle {
  width: 4px;
  height: 50px;
  background: rgb(255, 111, 0);
  position: absolute;
  left: 69%;
  top: 32%;
  transform-origin: bottom center;
  transform: rotate(-140deg); 

}

