
p {
  color: #ff0000;
}

h1.entry-title {
  color: #ff0000;
}
button {
  font-family: monospace;
  padding: 10px 18px;
  margin: 20px auto;
  cursor: pointer;
  background: #222;          
  color: white;              
  border: 1px solid var(--accent);
  display: inline-block;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.03);   
  background: var(--accent);
  color: black;
}
