.back {
  position: fixed;
  left: 20px;
  bottom: 60px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  z-index: 10;
}
